{
  "bindAddress": "0.0.0.0:3000",
  "imageDirectory": "./images",
  "dbProtocol": "tcp",
  "dbAddress": "127.0.0.1:3306",
  "dbName": "ims-release",
  "dbUser": "ims",
  "dbPassword": "password1"
  "authToken": "token"
}